body, html {
    padding: 0;
    margin: 0;
    background-color: rgb(255,255,255);
    font-size: 18px;
}

p, a, h2 {
    color: rgb(35,35,35);
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

h2 {
    font-size: 2.45rem;
    text-align: center;
}

@font-face {
    font-family: "Raleway";
    src: url("/Raleway/Raleway-VariableFont_wght.ttf");
}